.main-nav{
    background-color: #39a900;
    margin: 0;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.main-nav-item{
    display: inline-block;
}

.main-nav-item a{
    color:#ffffff;
    text-decoration: none;
    padding: 20px;
    display:block;
    border-right: 1px solid #ffffff;
}

.main-nav-item a:hover{
    background-color: #ffffff;
    color: #39a900;
}

.main-nav-item a:active{
    background-color: #ffffff;
    color: #000000;
}